{% extends "base.html" %}

{% load static %}

{% block title %}FAQ - Matt WebDev{% endblock %}

{% block content %}

<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">FAQ</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Najczęściej zadawane pytania</p>
    </div>
</header>

<!-- FAQ Section -->
<section class="page-section" id="faq">
    <div class="container">
        <!-- FAQ Content-->
        <div class="accordion" id="faqAccordion">
            <!-- FAQ Item 1 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="faqHeading1">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse1" aria-expanded="true" aria-controls="faqCollapse1">
                        Jak długo trwa stworzenie strony internetowej?
                    </button>
                </h2>
                <div id="faqCollapse1" class="accordion-collapse collapse show" aria-labelledby="faqHeading1" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Czas stworzenia strony internetowej zależy od jej skomplikowania i specyfikacji. Zazwyczaj trwa to od 7 dni do miesiąca.
                    </div>
                </div>
            </div>
            <!-- FAQ Item 2 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="faqHeading2">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse2" aria-expanded="false" aria-controls="faqCollapse2">
                        Jakie informacje są potrzebne do rozpoczęcia projektu graficznego?
                    </button>
                </h2>
                <div id="faqCollapse2" class="accordion-collapse collapse" aria-labelledby="faqHeading2" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Aby rozpocząć projekt graficzny, potrzebuję szczegółowych informacji na temat oczekiwań, preferencji kolorystycznych, stylu, materiałów referencyjnych oraz treści na stronę.
                    </div>
                </div>
            </div>
            <!-- FAQ Item 3 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="faqHeading3">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse3" aria-expanded="false" aria-controls="faqCollapse3">
                        Czy oferujesz zarządzanie stroną po jej stworzeniu?
                    </button>
                </h2>
                <div id="faqCollapse3" class="accordion-collapse collapse" aria-labelledby="faqHeading3" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Tak, oferuję usługi zarządzania stroną, w tym aktualizacje treści, utrzymanie bezpieczeństwa i regularne kopie zapasowe.
                    </div>
                </div>
            </div>
            <!-- FAQ Item 4 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="faqHeading4">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse4" aria-expanded="false" aria-controls="faqCollapse4">
                        Jakie są koszty stworzenia strony internetowej?
                    </button>
                </h2>
                <div id="faqCollapse4" class="accordion-collapse collapse" aria-labelledby="faqHeading4" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Koszt stworzenia strony internetowej zależy od jej złożoności i specyfikacji. Zobacz <a href="{% url 'oferta' %}" class="text-primary">ofertę</a>, aby zobaczyć ile mniej więcej może kosztować Twój projekt.
                    </div>
                </div>
            </div>
            <!-- FAQ Item 5 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="faqHeading5">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse5" aria-expanded="false" aria-controls="faqCollapse5">
                        Czy mogę zobaczyć przykłady Twoich prac?
                    </button>
                </h2>
                <div id="faqCollapse5" class="accordion-collapse collapse" aria-labelledby="faqHeading5" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Tak, zapraszamy do odwiedzenia mojego <a href="{% url 'portfolio' %}" class="text-primary">portfolio</a>, gdzie znajdziesz przykłady moich realizacji w zakresie stron internetowych i projektów graficznych.
                    </div>
                </div>
            </div>
            <!-- FAQ Item 6 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="faqHeading6">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse6" aria-expanded="false" aria-controls="faqCollapse6">
                        Czym jest SEO?
                    </button>
                </h2>
                <div id="faqCollapse6" class="accordion-collapse collapse" aria-labelledby="faqHeading6" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        SEO (Search Engine Optimization) to proces optymalizacji strony internetowej w celu poprawy jej widoczności w wynikach wyszukiwarek internetowych, takich jak Google. Dobre SEO pomaga przyciągnąć więcej organicznego ruchu na stronę.
                    </div>
                </div>
            </div>
            <!-- FAQ Item 7 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="faqHeading7">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse7" aria-expanded="false" aria-controls="faqCollapse7">
                        Czym jest Django?
                    </button>
                </h2>
                <div id="faqCollapse7" class="accordion-collapse collapse" aria-labelledby="faqHeading7" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Django to zaawansowany framework do tworzenia aplikacji internetowych napisany w języku Python. Pozwala na szybkie i efektywne tworzenie bezpiecznych i skalowalnych aplikacji webowych.
                    </div>
                </div>
            </div>
            <!-- FAQ Item 8 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="faqHeading8">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse8" aria-expanded="false" aria-controls="faqCollapse8">
                        Czym jest hosting i domena?
                    </button>
                </h2>
                <div id="faqCollapse8" class="accordion-collapse collapse" aria-labelledby="faqHeading8" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Hosting to usługa udostępniania miejsca na serwerze, na którym znajduje się Twoja strona internetowa. Domena to adres internetowy, pod którym Twoja strona jest dostępna (np. www.twojadomena.pl).
                    </div>
                </div>
            </div>
            <!-- FAQ Item 9 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="faqHeading9">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse9" aria-expanded="false" aria-controls="faqCollapse9">
                        Jakie metody płatności akceptujesz?
                    </button>
                </h2>
                <div id="faqCollapse9" class="accordion-collapse collapse" aria-labelledby="faqHeading9" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Jako, że nie posiadam jeszcze działalności gospodarczej akceptuję płatności przez platfromę https://useme.com/, dzięki której mogę wystawić fakturę z VAT.
                    </div>
                </div>
            </div>
            <!-- FAQ Item 11 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="faqHeading11">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse11" aria-expanded="false" aria-controls="faqCollapse11">
                        Czy wystawiasz faktury VAT?
                    </button>
                </h2>
                <div id="faqCollapse11" class="accordion-collapse collapse" aria-labelledby="faqHeading11" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Tak, wystawiam faktury VAT. Rozliczamy się przez platformę Useme, gdzie mogę wystawić fakturę z VATem.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section-->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Nie ma odpowiedzi na Twoje pytanie? Zadaj mi je osobiście!</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="card bg-matt mb-3">
                    <div class="card-body text-center">
                        <img src="{% static 'assets/img/ryjec2.jpg' %}" class="img-fluid rounded-circle mb-3" alt="Mateusz Krupa">
                        <h5 class="card-title">Matt Web Dev</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Mateusz Krupa</h6>
                        <hr>
                        <p class="card-text"><i class="fas fa-phone"></i> +48 502 836 411</p>
                        <p class="card-text"><i class="fas fa-envelope"></i> kontakt@mattwebdev.pl</p>
                        <div class="social-icons">
                            <a class="btn btn-outline-secondary btn-sm" href="https://www.facebook.com/mattwebsitedev/"><i class="fab fa-fw fa-facebook-f"></i></a>
                            <a class="btn btn-outline-secondary btn-sm" href="https://www.instagram.com/matt_website_dev"><i class="fab fa-fw fa-instagram"></i></a>
                            <a class="btn btn-outline-secondary btn-sm" href="https://www.linkedin.com/company/matt-web-dev"><i class="fab fa-fw fa-linkedin-in"></i></a>
                            <a class="btn btn-outline-secondary btn-sm" href="https://github.com/OldBeardMan"><i class="fab fa-fw fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-xl-7">
                <form id="contactForm" method="post" action="{% url 'index' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.name.label_tag }}<span class="text-danger">*</span>
                        {{ form.name }}
                        <div class="invalid-feedback" data-sb-feedback="name:required">Imię jest wymagane.</div>
                    </div>
                    <div class="mb-3">
                        {{ form.email.label_tag }}<span class="text-danger">*</span>
                        {{ form.email }}
                        <div class="invalid-feedback" data-sb-feedback="email:required">Adres e-mail jest wymagany.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Adres e-mail nie jest prawidłowy.</div>
                    </div>
                    <div class="mb-3">
                        {{ form.phone.label_tag }}
                        {{ form.phone }}
                        <div class="invalid-feedback" data-sb-feedback="phone:required">Numer telefonu jest wymagany.</div>
                    </div>
                    <div class="mb-3">
                        {{ form.company.label_tag }}
                        {{ form.company }}
                    </div>
                    <div class="mb-3">
                        {{ form.message.label_tag }}<span class="text-danger">*</span>
                        {{ form.message }}
                        <div class="invalid-feedback" data-sb-feedback="message:required">Wiadomość jest wymagana.</div>
                    </div>
                    <button class="btn btn-secondary btn-xl" id="submitButton" type="submit">Wyślij</button>
                </form>
            </div>
        </div>
    </div>
    </section>

{% endblock %}
