{% extends "base.html" %}

{% load static %}

{% block title %}Home - MattWebDev{% endblock %}

{% block content %}
       
       <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar" src="{% static 'assets/img/mattweblogo.png' %}" alt="..." />
                <!-- Masthead Heading-->
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Wizytówka Twojej firmy online!</p>
            </div>
        </header>
        <!-- About Section-->
        <section class="page-section bg-secondary text-white mb-0" id="about">
            <div class="container">
                <div class="row">
                    <!-- Text Section -->
                    <div class="col-lg-7">
                        <!-- About Section Heading-->
                        <h2 class="page-section-heading text-center text-white">Ze mną Twoja firma nabierze kolorów!</h2>
                        <!-- Icon Divider-->
                        <div class="divider-custom divider-light">
                            <div class="divider-custom-line"></div>
                            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                            <div class="divider-custom-line"></div>
                        </div>
                        <!-- About Section Content-->
                        <p class="lead text-center">Jestem młodym studentem informatyki na Politechnice Lubelskiej. Od czasów szkoły podstawowej zajmuję się hobbystycznie tworzeniem stron internetowych oraz grafik w Photoshopie. Jako deweloper programuję strony od podstaw, korzystając z nowoczesnych języków i frameworków, takich jak HTML, CSS, JavaScript i Django.</p>
                        <p class="lead text-center">Oferuję kompleksowe usługi freelancingu od projektowania stron internetowych, blogów, logotypów po wizytówki papierowe i inne materiały, które pomogą Twojej firmie wyróżnić się na rynku. Wszystko, czego potrzebujesz, znajdziesz w jednym miejscu!</p>
                        <!-- About Section Buttons -->
                        <div class="text-center mt-4">
                            <a class="btn btn-xl btn-outline-light me-3" href="{% url 'portfolio' %}">
                                <i class="fas fa-briefcase me-2"></i>
                                Portfolio
                            </a>
                            <a class="btn btn-xl btn-outline-light" href="{% url 'oferta' %}">
                                <i class="fas fa-info-circle me-2"></i>
                                Oferta
                            </a>
                        </div>
                    </div>
                    <!-- Image Section -->
                    <div class="col-lg-5 text-center">
                        <img class="img-fluid rounded-circle" src="{% static 'assets/img/ryjec.jpg' %}" alt="Twoje zdjęcie">
                    </div>
                </div>
            </div>
        </section>

        <!-- Offer Section-->
<section class="page-section" id="offer">
    <div class="container">
        <!-- Offer Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Moja oferta</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Offer Cards-->
        <div class="row justify-content-center">
            <!-- Offer Card 1-->
            <div class="col-md-6 col-lg-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="fas fa-laptop-code fa-3x mb-3 text-primary"></i>
                        <h5 class="card-title">Tworzenie stron internetowych</h5>
                        <hr>
                        <p class="card-text">Tworzę nowoczesne strony internetowe od podstaw, które będą idealną wizytówką Twojej firmy. 
                            Dzięki moim stronom Twoja firma będzie wyróżniała się na tle konkurencji! 
                            Używam nowoczesnych technik programowania responsywnego we frameworku Django, aby zapewnić najwyższą jakość.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#more-info-website" class="btn btn-primary">Sprawdź ofertę!</a>
                    </div>
                </div>
            </div>
            <!-- Offer Card 2-->
            <div class="col-md-6 col-lg-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="fas fa-paint-brush fa-3x mb-3 text-primary"></i>
                        <h5 class="card-title">Projekty graficzne</h5>
                        <hr>
                        <p class="card-text">Oferuję unikatowe projekty graficzne od logo, przez wizytówki, plakaty, aż po inne materiały marketingowe. Zadbam o każdy szczegół i spójność  wizualną, tak aby Twoja firma wyróżniała się na tle konkurencji! 
                            Pracuję w Photoshopie oraz innych nowoczesnych programach do grafiki komputerowej, aby dostarczyć najlepsze rezultaty.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#more-info-graphic" class="btn btn-primary">Sprawdź ofertę!</a>
                    </div>
                </div>
            </div>
            <!-- Offer Card 3-->
            <div class="col-md-6 col-lg-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="fas fa-tools fa-3x mb-3 text-primary"></i>
                        <h5 class="card-title">Opieka nad stroną internetową</h5>
                        <hr>
                        <p class="card-text">Zapewniam kompleksową opiekę nad stroną internetową, aby Twoja witryna działała płynnie i była zawsze aktualna. Zajmuję się regularnymi aktualizacjami, monitorowaniem wydajności oraz rozwiązywaniem problemów technicznych, abyś mógł skoncentrować się na prowadzeniu biznesu.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#more-info-maintenance" class="btn btn-primary">Sprawdź ofertę!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


                <!-- Portfolio Section-->
                <section class="page-section bg-secondary  portfolio" id="portfolio">
                    <div class="container">
                        <!-- Portfolio Section Heading-->
                        <h2 class="page-section-heading text-center text-uppercase text-white mb-0">Portfolio</h2>
                        <!-- Icon Divider-->
                        <div class="divider-custom divider-light">
                            <div class="divider-custom-line"></div>
                            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                            <div class="divider-custom-line"></div>
                        </div>
                        <!-- Portfolio Grid Items-->
                        <div class="row justify-content-center">
                            <!-- Portfolio Item 1-->
                            <div class="col-md-6 col-lg-4 mb-5">
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                    </div>
                                    <img class="img-fluid" src="{% static 'assets/img/portfolio/mattkrupa.jpg' %}" alt="..." />
                                </div>
                            </div>
                            <!-- Portfolio Item 2-->
                            <div class="col-md-6 col-lg-4 mb-5">
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                    </div>
                                    <img class="img-fluid" src="{% static 'assets/img/portfolio/cake.png' %}" alt="..." />
                                </div>
                            </div>
                            <!-- Portfolio Item 3-->
                            <div class="col-md-6 col-lg-4 mb-5">
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                    </div>
                                    <img class="img-fluid" src="{% static 'assets/img/portfolio/circus.png' %}" alt="..." />
                                </div>
                            </div>
                            <!-- Portfolio Item 4-->
                            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                    </div>
                                    <img class="img-fluid" src="{% static 'assets/img/portfolio/game.png' %}" alt="..." />
                                </div>
                            </div>
                            <!-- Portfolio Item 5-->
                            <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
                                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                    </div>
                                    <img class="img-fluid" src="{% static 'assets/img/portfolio/safe.png' %}" alt="..." />
                                </div>
                            </div>
                            <!-- Portfolio Item 6-->
                            <div class="col-md-6 col-lg-4">
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                    </div>
                                    <img class="img-fluid" src="{% static 'assets/img/portfolio/submarine.png' %}" alt="..." />
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


            <!-- Testimonials Section -->
            <section class="page-section bg-primary text-white mb-0" id="testimonials">
                <div class="container">
                    <h2 class="page-section-heading text-center text-uppercase text-white">Opinie Klientów</h2>
                    <div class="divider-custom">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>
                    <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for testimonial in testimonials %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <div class="card no-border text-dark mb-3">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-3 d-flex align-items-center justify-content-center">
                                                <img src="{{ testimonial.image.url }}" class="img-fluid rounded-circle testimonial-image" alt="{{ testimonial.name }}">
                                            </div>
                                            <div class="col-md-9">
                                                <h5 class="card-title text-white">{{ testimonial.name }}</h5>
                                                <h6 class="card-subtitle mb-2 text-secondary">{{ testimonial.company }}</h6>
                                                <div class="stars">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <p class="card-text text-white">{{ testimonial.content }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </section>

<!-- Contact Section-->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Skontaktuj się ze mną</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="card bg-matt mb-3">
                    <div class="card-body text-center">
                        <img src="{% static 'assets/img/ryjec2.jpg' %}" class="img-fluid rounded-circle mb-3" alt="Mateusz Krupa">
                        <h5 class="card-title">Matt Web Dev</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Mateusz Krupa</h6>
                        <hr>
                        <p class="card-text"><i class="fas fa-phone"></i> +48 502 836 411</p>
                        <p class="card-text"><i class="fas fa-envelope"></i> matt@example.com</p>
                        <div class="social-icons">
                            <a href="#" class="btn btn-outline-secondary btn-sm"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="btn btn-outline-secondary btn-sm"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="btn btn-outline-secondary btn-sm"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-xl-7">
                <form id="contactForm" method="post" action="{% url 'index' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.name.label_tag }}
                        {{ form.name }}
                        <div class="invalid-feedback" data-sb-feedback="name:required">Imię jest wymagane.</div>
                    </div>
                    <div class="mb-3">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                        <div class="invalid-feedback" data-sb-feedback="email:required">Adres e-mail jest wymagany.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Adres e-mail nie jest prawidłowy.</div>
                    </div>
                    <div class="mb-3">
                        {{ form.phone.label_tag }}
                        {{ form.phone }}
                        <div class="invalid-feedback" data-sb-feedback="phone:required">Numer telefonu jest wymagany.</div>
                    </div>
                    <div class="mb-3">
                        {{ form.message.label_tag }}
                        {{ form.message }}
                        <div class="invalid-feedback" data-sb-feedback="message:required">Wiadomość jest wymagana.</div>
                    </div>
                    <button class="btn btn-secondary btn-xl" id="submitButton" type="submit">Wyślij</button>
                </form>
            </div>
        </div>
    </div>
</section>



        <!-- Portfolio Modals-->
        <!-- Portfolio Modal 1-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">mattkrupa.net</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/mattkrupa.jpg' %}" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <button class="btn btn-primary d-inline" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Close Window
                                    </button>
                                    <button class="btn btn-primary d-inline" onclick="window.open('https://www.mattkrupa.net', '_blank')">
                                        <i class="fas fa-globe fa-fw"></i>
                                        Zobacz Stronę
                                    </button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 2-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Tasty Cake</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/cake.png' %}" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 3-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" aria-labelledby="portfolioModal3" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Circus Tent</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/circus.png' %}" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 4-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" aria-labelledby="portfolioModal4" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Controller</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/game.png' %}" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 5-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" aria-labelledby="portfolioModal5" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Locked Safe</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/safe.png' %}" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 6-->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" aria-labelledby="portfolioModal6" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Submarine</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/submarine.png' %}" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endblock %}