{% extends "base.html" %}

{% load static %}

{% block title %}Strony internetowe i grafika komputerowa - MattWebDev{% endblock %}

{% block content %}

       <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar" src="{% static 'assets/img/mattweblogo.png' %}" alt="..." />
                <!-- Masthead Heading-->
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Strony internetowe i grafika</p>
            </div>
        </header>
        <!-- About Section-->
        <section class="page-section bg-secondary text-white mb-0" id="about">
            <div class="container">
                <div class="row">
                    <!-- Text Section -->
                    <div class="col-lg-7">
                        <!-- About Section Heading-->
                        <h2 class="page-section-heading text-center text-white">Ze mną Twoja firma nabierze kolorów!</h2>
                        <!-- Icon Divider-->
                        <div class="divider-custom divider-light">
                            <div class="divider-custom-line"></div>
                            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                            <div class="divider-custom-line"></div>
                        </div>
                        <!-- About Section Content-->
                        <p class="lead text-center">Jestem młodym studentem informatyki na Politechnice Lubelskiej. Od czasów szkoły podstawowej zajmuję się hobbystycznie tworzeniem stron internetowych oraz grafik w Photoshopie. Jako deweloper programuję strony od podstaw, korzystając z nowoczesnych języków i frameworków, takich jak HTML, CSS, JavaScript i Django.</p>
                        <p class="lead text-center">Oferuję kompleksowe usługi freelancingu od projektowania stron internetowych, blogów, logotypów po wizytówki papierowe i inne materiały, które pomogą Twojej firmie wyróżnić się na rynku. Wszystko, czego potrzebujesz, znajdziesz w jednym miejscu!</p>
                        <!-- About Section Buttons -->
                        <div class="text-center mt-4">
                            <a class="btn btn-xl btn-outline-light me-3" href="{% url 'portfolio' %}">
                                <i class="fas fa-briefcase me-2"></i>
                                Portfolio
                            </a>
                            <a class="btn btn-xl btn-outline-light" href="{% url 'oferta' %}">
                                <i class="fas fa-info-circle me-2"></i>
                                Oferta
                            </a>
                        </div>
                    </div>
                    <!-- Image Section -->
                    <div class="col-lg-5 text-center mt-5">
                        <img class="img-fluid rounded-circle" src="{% static 'assets/img/ryjec.jpg' %}" alt="Twoje zdjęcie">
                    </div>
                </div>
            </div>
        </section>

        <!-- Offer Section-->
<section class="page-section" id="offer">
    <div class="container">
        <!-- Offer Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Moja oferta</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Offer Cards-->
        <div class="row justify-content-center">
            <!-- Offer Card 1-->
            <div class="col-md-6 col-lg-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="fas fa-laptop-code fa-3x mb-3 text-primary"></i>
                        <h5 class="card-title">Tworzenie stron internetowych</h5>
                        <hr>
                        <p class="card-text">Tworzę nowoczesne strony internetowe od podstaw, które będą idealną wizytówką Twojej firmy. 
                            Dzięki moim stronom Twoja firma będzie wyróżniała się na tle konkurencji! 
                            Używam nowoczesnych technik programowania responsywnego we frameworku Django, aby zapewnić najwyższą jakość.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'oferta' %}#web-development" class="btn btn-primary">Sprawdź ofertę!</a>
                    </div>
                </div>
            </div>
            <!-- Offer Card 2-->
            <div class="col-md-6 col-lg-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="fas fa-paint-brush fa-3x mb-3 text-primary"></i>
                        <h5 class="card-title">Projekty graficzne</h5>
                        <hr>
                        <p class="card-text">Oferuję unikatowe projekty graficzne od logo, przez wizytówki, plakaty, aż po inne materiały marketingowe. Zadbam o każdy szczegół i spójność  wizualną, tak aby Twoja firma wyróżniała się na tle konkurencji! 
                            Pracuję w Photoshopie oraz innych nowoczesnych programach do grafiki komputerowej, aby dostarczyć najlepsze rezultaty.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'oferta' %}#graphic-design" class="btn btn-primary">Sprawdź ofertę!</a>
                    </div>
                </div>
            </div>
            <!-- Offer Card 3-->
            <div class="col-md-6 col-lg-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="fas fa-tools fa-3x mb-3 text-primary"></i>
                        <h5 class="card-title">Opieka nad stroną internetową</h5>
                        <hr>
                        <p class="card-text">Zapewniam kompleksową opiekę nad stroną internetową, aby Twoja witryna działała płynnie i była zawsze aktualna. Zajmuję się regularnymi aktualizacjami, monitorowaniem wydajności oraz rozwiązywaniem problemów technicznych, abyś mógł skoncentrować się na prowadzeniu biznesu.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'oferta' %}#website-maintenance" class="btn btn-primary">Sprawdź ofertę!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


            <!-- Portfolio Section-->
            <section class="page-section bg-secondary  portfolio" id="portfolio">
                <div class="container">
                    <!-- Portfolio Section Heading-->
                    <h2 class="page-section-heading text-center text-uppercase text-white mb-0">Portfolio Stron Internetowych</h2>
                    <!-- Icon Divider-->
                    <div class="divider-custom divider-light">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>
                    <!-- Portfolio Grid Items-->
                    <div class="row justify-content-center">
                        <!-- Portfolio Item 1-->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'assets/img/portfolio/mattkrupa.jpg' %}" alt="..." />
                            </div>
                        </div>
                        <!-- Portfolio Item 2-->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'assets/img/portfolio/depclean.jpg' %}" alt="..." />
                            </div>
                        </div>
                       <!--
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'assets/img/portfolio/circus.png' %}" alt="..." />
                            </div>
                        </div>
                
                        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'assets/img/portfolio/game.png' %}" alt="..." />
                            </div>
                        </div>
                   
                        <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'assets/img/portfolio/safe.png' %}" alt="..." />
                            </div>
                        </div>
                     
                        <div class="col-md-6 col-lg-4">
                            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'assets/img/portfolio/submarine.png' %}" alt="..." />
                            </div>
                        </div>-->
                    </div>
                </div>
            </section>

            <!-- Portfolio grafik Section-->
            <section class="page-section bg-secondary  portfolio" id="portfolio">
                <div class="container">
                    <!-- Portfolio Section Heading-->
                    <h2 class="page-section-heading text-center text-uppercase text-white mb-0">Portfolio Grafik Komputerowych</h2>
                    <!-- Icon Divider-->
                    <div class="divider-custom divider-light">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>
                    <!-- Portfolio Grid Items-->
                    <div class="row justify-content-center">
                        <!-- Portfolio Item 1-->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalA">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'assets/img/portfolio/A.png' %}" alt="..." />
                            </div>
                        </div>
                        <!-- Portfolio Item 2-->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalB">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'assets/img/portfolio/B.png' %}" alt="..." />
                            </div>
                        </div>
                       
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalC">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'assets/img/portfolio/C.png' %}" alt="..." />
                            </div>
                        </div>
                
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalD">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'assets/img/portfolio/D.png' %}" alt="..." />
                            </div>
                        </div>
                   
                        <div class="col-md-6 col-lg-4 mb-5 ">
                            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalE">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'assets/img/portfolio/E.png' %}" alt="..." />
                            </div>
                        </div>
                     
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalF">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'assets/img/portfolio/F.png' %}" alt="..." />
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModalG">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'assets/img/portfolio/G.png' %}" alt="..." />
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- Testimonials Section -->
            <!--
            <section class="page-section bg-primary text-white mb-0" id="testimonials">
                <div class="container">
                    <h2 class="page-section-heading text-center text-uppercase text-white">Opinie Klientów</h2>
                    <div class="divider-custom">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>
                    <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for testimonial in testimonials %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <div class="card no-border text-dark mb-3">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-3 d-flex align-items-center justify-content-center">
                                                <img src="{{ testimonial.image.url }}" class="img-fluid rounded-circle testimonial-image" alt="{{ testimonial.name }}">
                                            </div>
                                            <div class="col-md-9">
                                                <h5 class="card-title text-white">{{ testimonial.name }}</h5>
                                                <h6 class="card-subtitle mb-2 text-secondary">{{ testimonial.company }}</h6>
                                                <div class="stars">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <p class="card-text text-white">{{ testimonial.content }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="carousel-controls text-center">
                            <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            -->

<!-- Contact Section-->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Skontaktuj się ze mną</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="card bg-matt mb-3">
                    <div class="card-body text-center">
                        <img src="{% static 'assets/img/ryjec2.jpg' %}" class="img-fluid rounded-circle mb-3" alt="Mateusz Krupa">
                        <h5 class="card-title">Matt Web Dev</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Mateusz Krupa</h6>
                        <hr>
                        <p class="card-text"><i class="fas fa-phone"></i> +48 502 836 411</p>
                        <p class="card-text"><i class="fas fa-envelope"></i> matt.website.dev@gmail.com</p>
                        <div class="social-icons">
                            <a class="btn btn-outline-secondary btn-sm" href="https://www.facebook.com/mattwebsitedev/"><i class="fab fa-fw fa-facebook-f"></i></a>
                            <a class="btn btn-outline-secondary btn-sm" href="https://www.instagram.com/matt_website_dev"><i class="fab fa-fw fa-instagram"></i></a>
                            <a class="btn btn-outline-secondary btn-sm" href="https://github.com/OldBeardMan"><i class="fab fa-fw fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-xl-7">
                {% if messages %}
                    <div>
                        {% for message in messages %}
                            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            
                <form id="contactForm" method="post" action="{% url 'index' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.name.label_tag }}<span class="text-danger">*</span>
                        {{ form.name }}
                        <div class="invalid-feedback" data-sb-feedback="name:required">Imię jest wymagane.</div>
                    </div>
                    <div class="mb-3">
                        {{ form.email.label_tag }}<span class="text-danger">*</span>
                        {{ form.email }}
                        <div class="invalid-feedback" data-sb-feedback="email:required">Adres e-mail jest wymagany.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Adres e-mail nie jest prawidłowy.</div>
                    </div>
                    <div class="mb-3">
                        {{ form.phone.label_tag }}
                        {{ form.phone }}
                        <div class="invalid-feedback" data-sb-feedback="phone:required">Numer telefonu jest wymagany.</div>
                    </div>
                    <div class="mb-3">
                        {{ form.company.label_tag }}
                        {{ form.company }}
                    </div>
                    <div class="mb-3">
                        {{ form.message.label_tag }}<span class="text-danger">*</span>
                        {{ form.message }}
                        <div class="invalid-feedback" data-sb-feedback="message:required">Wiadomość jest wymagana.</div>
                    </div>
                    <button class="btn btn-secondary btn-xl" id="submitButton" type="submit">Wyślij</button>
                </form>
            </div>            
        </div>
    </div>
    </section>



    <!-- Portfolio Modals-->
    <!-- Portfolio Modal 1-->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">mattkrupa.net</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Portfolio Modal - Image-->
                                <a href="https://www.mattkrupa.net/" target="_blank"><img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/mattkrupa.jpg' %}" alt="..." /></a>
                                <ul class="list-unstyled">
                                    <li>
                                        <i class="fas fa-file-alt text-primary"></i> Liczba podstron: 11  
                                        <span class="separator"></span>
                                        <i class="fas fa-paint-brush text-primary"></i> Wszystkie grafiki zrobione przeze mnie
                                    </li>
                                    <li>
                                        <i class="fas fa-mobile-alt text-primary"></i> Wersja mobilna  
                                        <span class="separator"></span>
                                        <i class="fas fa-globe text-primary"></i> Dwie wersje językowe
                                    </li>
                                    <li>
                                        <i class="fas fa-envelope text-primary"></i> Formularz kontaktowy  
                                        <span class="separator"></span>
                                        <i class="fas fa-lock text-primary"></i> Certyfikat SSL
                                    </li>
                                    <li>
                                        <i class="fas fa-images text-primary"></i> Galeria zdjęć  
                                        <span class="separator"></span>
                                        <i class="fas fa-blog text-primary"></i> Portfolio
                                    </li>
                                    <li>
                                        <i class="fas fa-music text-primary"></i> Odtwarzacz muzyki
                                    </li>
                                </ul>
                                
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-4">Stworzona strona internetowa miała za zadanie zgromadzić całą muzykę artysty w jedno miejsce, a dodatkowo każda z jego piosenek miała mieć krótki opis powstania. Na stronie znalazło się również portfolio artysty, linki do social mediów, platform streamingowych oraz innych projektów muzycznych. Wykonana została w dwóch wersjach językowych: angielskim i polskim z przyciskami do przełączania między nimi. Nowoczesny design i użyte animacje miały na celu odwzorować brzmienie i spójność artystyczną muzyki. Logo, grafiki albumów (również innych projektów muzycznych) zostały wykonane przeze mnie, tak aby wiernie odwzorowały klimat muzyki, którą reprezentują. </p>
                                <button class="btn btn-primary d-inline" data-bs-dismiss="modal">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Close Window
                                </button>
                                <button class="btn btn-primary d-inline" onclick="window.open('https://www.mattkrupa.net', '_blank')">
                                    <i class="fas fa-globe fa-fw"></i>
                                    Zobacz Stronę
                                </button>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 2-->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">depclean.pl</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Portfolio Modal - Image-->
                                <a href="https://depclean.pl/" target="_blank"><img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/depclean.jpg' %}" alt="..." /></a>
                                <ul class="list-unstyled">
                                    <li>
                                        <i class="fas fa-file-alt text-primary"></i> Liczba podstron: 5  
                                        <span class="separator"></span>
                                        <i class="fas fa-paint-brush text-primary"></i> Poprawa jakości nadesłanych grafik
                                    </li>
                                    <li>
                                        <i class="fas fa-mobile-alt text-primary"></i> Wersja mobilna  
                                        <span class="separator"></span>
                                        <i class="fas fa-circle-question text-primary"></i> FAQ
                                    </li>
                                    <li>
                                        <i class="fas fa-envelope text-primary"></i> Formularz kontaktowy  
                                        <span class="separator"></span>
                                        <i class="fas fa-lock text-primary"></i> Certyfikat SSL
                                    </li>
                                    <li>
                                        <i class="fas fa-map text-primary"></i> Interaktywna mapa obszaru usług 
                                        <span class="separator"></span>
                                        <i class="fas fa-truck-monster text-primary"></i> Oferta
                                    </li>
                                    <li>
                                        <i class="fas fa-pen-nib text-primary"></i> Blog
                                        <span class="separator"></span>
                                        <i class="fas fa-check text-primary"></i> Opinie klientów
                                    </li>
                                </ul>
                                
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-4">Strona dla usług mycia kostki brukowej, miała na celu zawrzeć wszystkie informacje na temat firmy, to jest: kontakt, obszar działalności, usługi prowadzone przez firmę, najczęściej zadawane pytania oraz opinie klientów. Dodatkowo do strony został dodany interaktywny blog, na którym własciciel może dodawać wpisy poprzez prosty panel administracyjny. Szata graficzna została przygotowana przeze mnie tak, aby wkomponowywała się w nadesłane logo, a zarówno żeby strona była w pełni czytelna. Na prośbę klienta udzielono krótkiego szkolenia na temat wyboru hostingu i dostawcy domeny, po czym strona została postawiona przeze mnie na prywatnym serwerze VPS. </p>
                                <button class="btn btn-primary d-inline" data-bs-dismiss="modal">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Close Window
                                </button>
                                <button class="btn btn-primary d-inline" onclick="window.open('https://depclean.pl/', '_blank')">
                                    <i class="fas fa-globe fa-fw"></i>
                                    Zobacz Stronę
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Portfolio Modal Grafik-->

    <div class="portfolio-modal modal fade" id="portfolioModalA" tabindex="-1" aria-labelledby="portfolioModalA" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                              
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Logo Kobieta Las</h2>
            
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                        
                                <img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/A.png' %}" alt="..." />
               
                                <p class="mb-4">Unikalne logo stworzone dla profilu ,,Kobieta Las" na Instagramie. Pani zajmuje się szydełkowaniem na zamówienie, a jej logo miało zawierać element szydełkowy oraz motyw lasu zawarty w nazwie.</p>
                                <button class="btn btn-primary" data-bs-dismiss="modal">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModalB" tabindex="-1" aria-labelledby="portfolioModalB" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                           
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Zestaw grafik Matt Krupa</h2>
                  
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                               
                                <img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/B.png' %}" alt="..." />
                             
                                <p class="mb-4">Grafiki stworzone dla mojego projektu muzycznego Matt Krupa w 2024 roku przy wydawaniu nowego albumu. Stworzyłem cały zestaw grafik od nowego profilowego i tła na social media, po odpowiednio przygotowane do druku naklejki, okładkę płyty CD i przypinki.</p>
                                <button class="btn btn-primary" data-bs-dismiss="modal">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModalC" tabindex="-1" aria-labelledby="portfolioModalC" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                               
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Wizytówki dla Wspólnoty Galilea</h2>
                              
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                            
                                <img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/C.png' %}" alt="..." />
                             
                                <p class="mb-4">Stworzyłem dwustronne wizytówki dla Wspólnoty Chrystusa Zmartwychwstałego Galilea przygotowane prosto do druku.</p>
                                <button class="btn btn-primary" data-bs-dismiss="modal">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModalD" tabindex="-1" aria-labelledby="portfolioModalD" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                             
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Wizytówki dla usług transportowych</h2>
                        
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                              
                                <img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/D.png' %}" alt="..." />
                     
                                <p class="mb-4">Wizytówki dwustronne przygotowane pod druk dla usług transportowych z najważniejszymi informacjami kontaktowymi.</p>
                                <button class="btn btn-primary" data-bs-dismiss="modal">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModalE" tabindex="-1" aria-labelledby="portfolioModalE" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                             
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Grafiki na album Noridc Countries</h2>
                        
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                              
                                <img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/E.png' %}" alt="..." />
                     
                                <p class="mb-4">Kolejny zestaw grafik dla mojego projektu muzycznego. Stworzony przeze mnie w 2022 roku do płyty Nordic Countries. Moja praca obejmowała przygotowanie grafik na płytę CD pod druk, przypinek oraz koszulek z logiem.</p>
                                <button class="btn btn-primary" data-bs-dismiss="modal">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModalF" tabindex="-1" aria-labelledby="portfolioModalF" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                             
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Pogotowie Różańcowe</h2>
                        
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                              
                                <img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/F.png' %}" alt="..." />
                     
                                <p class="mb-4">Stworzone przeze mnie grafiki w 2018 roku dla strony internetowej Pogotowia Różańcowego obejmowały zrobienie oryginalnego loga, przygotowanie grafik na social media oraz stworzenie plakatów reklamujących.</p>
                                <button class="btn btn-primary" data-bs-dismiss="modal">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModalG" tabindex="-1" aria-labelledby="portfolioModalG" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                             
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Żywy Różaniec</h2>
                        
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                              
                                <img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/G.png' %}" alt="..." />
                     
                                <p class="mb-4">Stworzyłem logo oraz tło na Facebook'a dla grupy internetowej Żywego Różańca w Puławach.</p>
                                <button class="btn btn-primary" data-bs-dismiss="modal">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        {% endblock %}