{% extends "base.html" %}

{% load static %}

{% block title %}Oferta - MattWebDev{% endblock %}

{% block content %}
       
<!-- Offer Header Section -->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Offer Heading -->
        <h1 class="masthead-heading text-uppercase mb-0">Nasza Oferta</h1>
        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Offer Subheading -->
        <p class="masthead-subheading font-weight-light mb-0">Sprawdź, co możemy dla Ciebie zrobić!</p>
    </div>
</header>

<!-- Web Development Offer Section -->
<section class="page-section" id="web-development">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Tworzenie stron internetowych</h2>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row justify-content-center">
            <!-- Package Card 1 -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card h-100 text-center">
                    <div class="card-header">
                        <h5 class="card-title">Pakiet Podstawowy</h5>
                    </div>
                    <div class="card-body">
                        <i class="fas fa-globe fa-3x mb-3 text-primary"></i>
                        <h6 class="text-primary">od 900 PLN netto</h6>
                        <hr>
                        <ul class="list-unstyled">
                            <li><i class="fas fa-check text-primary"></i> Liczba podstron: 1</li>
                            <li><i class="fas fa-check text-primary"></i> Panel zarządzania</li>
                            <li><i class="fas fa-check text-primary"></i> Wersja mobilna</li>
                            <li><i class="fas fa-check text-primary"></i> Formularz kontaktowy</li>
                            <li><i class="fas fa-check text-primary"></i> Galeria zdjęć</li>
                            <li><i class="fas fa-check text-primary"></i> Integracja Google Maps</li>
                            <li><i class="fas fa-check text-primary"></i> Przygotowanie pod SEO</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="#contactForm" class="btn btn-primary">Skontaktuj się</a>
                    </div>
                </div>
            </div>
            <!-- Package Card 2 -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card h-100 text-center">
                    <div class="card-header">
                        <h5 class="card-title">Pakiet Standardowy</h5>
                    </div>
                    <div class="card-body">
                        <i class="fas fa-code fa-3x mb-3 text-primary"></i>
                        <h6 class="text-primary">od 2000 PLN netto</h6>
                        <hr>
                        <ul class="list-unstyled">
                            <li><i class="fas fa-check text-primary"></i> Responsywny design</li>
                            <li><i class="fas fa-check text-primary"></i> Zaawansowana SEO</li>
                            <li><i class="fas fa-check text-primary"></i> Do 10 podstron</li>
                            <li><i class="fas fa-check text-primary"></i> Integracja z mediami społecznościowymi</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="#contactForm" class="btn btn-primary">Skontaktuj się</a>
                    </div>
                </div>
            </div>
            <!-- Package Card 3 -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card h-100 text-center">
                    <div class="card-header">
                        <h5 class="card-title">Pakiet Premium</h5>
                    </div>
                    <div class="card-body">
                        <i class="fas fa-star fa-3x mb-3 text-primary"></i>
                        <h6 class="text-primary">od 3000 PLN netto</h6>
                        <hr>
                        <ul class="list-unstyled">
                            <li><i class="fas fa-check text-primary"></i> Responsywny design</li>
                            <li><i class="fas fa-check text-primary"></i> Profesjonalna SEO</li>
                            <li><i class="fas fa-check text-primary"></i> Nielimitowana liczba podstron</li>
                            <li><i class="fas fa-check text-primary"></i> Integracja z e-commerce</li>
                            <li><i class="fas fa-check text-primary"></i> Wsparcie techniczne przez 6 miesięcy</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="#contactForm" class="btn btn-primary">Skontaktuj się</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Graphic Design Offer Section -->
<section class="page-section bg-light text-dark" id="graphic-design">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Projekty graficzne</h2>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row justify-content-center">
            <!-- Graphic Package Card 1 -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="fas fa-palette fa-3x mb-3 text-primary"></i>
                        <h5 class="card-title">Pakiet Logo</h5>
                        <hr>
                        <p class="card-text">Unikalne projekty logo, które będą reprezentować Twoją firmę w najlepszym świetle.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#more-info-logo" class="btn btn-primary">Dowiedz się więcej</a>
                    </div>
                </div>
            </div>
            <!-- Graphic Package Card 2 -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="fas fa-images fa-3x mb-3 text-primary"></i>
                        <h5 class="card-title">Pakiet Wizytówki</h5>
                        <hr>
                        <p class="card-text">Profesjonalne projekty wizytówek, które wyróżnią Twoją firmę.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#more-info-business-cards" class="btn btn-primary">Dowiedz się więcej</a>
                    </div>
                </div>
            </div>
            <!-- Graphic Package Card 3 -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="fas fa-ad fa-3x mb-3 text-primary"></i>
                        <h5 class="card-title">Pakiet Plakaty</h5>
                        <hr>
                        <p class="card-text">Kreatywne projekty plakatów na różne wydarzenia i kampanie marketingowe.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#more-info-posters" class="btn btn-primary">Dowiedz się więcej</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Website Maintenance Offer Section -->
<section class="page-section" id="website-maintenance">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Zarządzanie stroną internetową</h2>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row justify-content-center">
            <!-- Maintenance Package Card 1 -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="fas fa-tools fa-3x mb-3 text-primary"></i>
                        <h5 class="card-title">Pakiet Podstawowy</h5>
                        <hr>
                        <p class="card-text">Podstawowa opieka nad stroną internetową, obejmująca regularne aktualizacje i monitorowanie.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#more-info-basic-maintenance" class="btn btn-primary">Dowiedz się więcej</a>
                    </div>
                </div>
            </div>
            <!-- Maintenance Package Card 2 -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="fas fa-shield-alt fa-3x mb-3 text-primary"></i>
                        <h5 class="card-title">Pakiet Standardowy</h5>
                        <hr>
                        <p class="card-text">Rozszerzona opieka nad stroną, w tym dodatkowe funkcje bezpieczeństwa i wsparcie techniczne.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#more-info-standard-maintenance" class="btn btn-primary">Dowiedz się więcej</a>
                    </div>
                </div>
            </div>
            <!-- Maintenance Package Card 3 -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="fas fa-cogs fa-3x mb-3 text-primary"></i>
                        <h5 class="card-title">Pakiet Premium</h5>
                        <hr>
                        <p class="card-text">Kompleksowa opieka nad stroną, obejmująca pełne wsparcie i indywidualne podejście do klienta.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#more-info-premium-maintenance" class="btn btn-primary">Dowiedz się więcej</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Why Choose Us Section -->
<section class="page-section bg-primary text-white" id="why-choose-us">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-white mb-0">Dlaczego warto mi zlecić stronę i grafiki</h2>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">1. Wieloletnie doświadczenie w branży.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">2. Profesjonalne podejście do każdego projektu.</p></div>
            <div class="col-lg-4 ms-auto"><p class="lead">3. Kreatywność i innowacyjne rozwiązania.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">4. Indywidualne podejście do klienta.</p></div>
            <div class="col-lg-4 ms-auto"><p class="lead">5. Używanie nowoczesnych technologii.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">6. Gwarancja satysfakcji i wsparcie po zakończeniu projektu.</p></div>
        </div>
    </div>
</section>

<!-- Collaboration Plan Section -->
<section class="page-section" id="collaboration-plan">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Jak wygląda współpraca</h2>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">1. Pierwsze spotkanie i omówienie potrzeb klienta.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">2. Przygotowanie wstępnego projektu i jego akceptacja.</p></div>
            <div class="col-lg-4 ms-auto"><p class="lead">3. Tworzenie strony lub projektów graficznych.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">4. Weryfikacja i wprowadzenie ewentualnych poprawek.</p></div>
            <div class="col-lg-4 ms-auto"><p class="lead">5. Finalizacja projektu i publikacja strony.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">6. Wsparcie i opieka po zakończeniu projektu.</p></div>
        </div>
    </div>
</section>

<!-- Contact Section-->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Skontaktuj się ze mną</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="card bg-light mb-3">
                    <div class="card-body text-center">
                        <img src="{% static 'assets/img/ryjec2.jpg' %}" class="img-fluid rounded-circle mb-3" alt="Mateusz Krupa">
                        <h5 class="card-title">Matt Web Dev</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Mateusz Krupa</h6>
                        <hr>
                        <p class="card-text"><i class="fas fa-phone"></i> +48 502 836 411</p>
                        <p class="card-text"><i class="fas fa-envelope"></i> matt@example.com</p>
                        <div class="social-icons">
                            <a href="#" class="btn btn-outline-secondary btn-sm"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="btn btn-outline-secondary btn-sm"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="btn btn-outline-secondary btn-sm"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-xl-7">
                <form id="contactForm" method="post" action="{% url 'index' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.name.label_tag }}
                        {{ form.name }}
                        <div class="invalid-feedback" data-sb-feedback="name:required">Imię jest wymagane.</div>
                    </div>
                    <div class="mb-3">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                        <div class="invalid-feedback" data-sb-feedback="email:required">Adres e-mail jest wymagany.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Adres e-mail nie jest prawidłowy.</div>
                    </div>
                    <div class="mb-3">
                        {{ form.phone.label_tag }}
                        {{ form.phone }}
                        <div class="invalid-feedback" data-sb-feedback="phone:required">Numer telefonu jest wymagany.</div>
                    </div>
                    <div class="mb-3">
                        {{ form.message.label_tag }}
                        {{ form.message }}
                        <div class="invalid-feedback" data-sb-feedback="message:required">Wiadomość jest wymagana.</div>
                    </div>
                    <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Wyślij</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}
